body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

html{
    height: 100%;
    width: 100%;
}

.screen{
    height: 120px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    text-align:right;
    overflow-wrap: break-word;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.calculator{
    width: 400px;
    height: 564px;

}

.body{
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 22px;
    gap: 10px;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 5px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.buttons button{
    width: 173px;
    font-size: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(245, 171, 171);
}

.row button{
    width: 81.5px;
    padding: 20px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
}